/* This file is used to define the colors of the UI for both Light and dark theme then we used them to for creating Tailwindcss utilities classes used within the the `@theme inline` in the `main.css` file */

/* Driving Colors for bg, text, border */

@layer colors {
:root {
    color-scheme: light dark;

    --ui-color-accent: var(--color-orange-600);
    --ui-color-primary: var(--color-stone-950);
    --ui-color-text-secondary: var(--color-stone-700);
    --ui-color-text-tertiary: var(--color-stone-500);
    --ui-color-text-placeholder: var(--color-stone-400);
    --ui-color-text-disabled: var(--color-stone-400);
    --ui-color-text-success: var(--color-green-700);
    --ui-color-text-critical: var(--color-red-600);
    --ui-color-text-warning: var(--color-amber-800);

    --ui-color-bg-body: var(--color-white);
    --ui-color-bg-accent: var(--ui-color-accent);
    --ui-color-bg-secondary: var(--color-stone-50);
    --ui-color-bg-tertiary: var(--color-stone-100);
    --ui-color-bg-interactive: var(--color-white);
    --ui-color-bg-success-muted: var(--color-emerald-100);
    --ui-color-bg-critical-muted: var(--color-red-100);
    --ui-color-bg-warning-muted: var(--color-yellow-100);
    --ui-color-bg-elevated-on-dark: var(--color-white);
    --ui-color-bg-contrast: var(--color-stone-900);
    --ui-color-bg-critical: var(--color-red-700);
    --ui-color-bg-disabled: var(--color-stone-200);
    --ui-color-bg-muted: var(--color-stone-200);
    --ui-color-bg-backdrop: color-mix(in oklab, var(--color-black) 15%, transparent);

    --ui-color-border-default: var(--color-stone-200);
    --ui-color-border-accent: var(--ui-color-accent);
    --ui-color-border-secondary: var(--color-stone-100);
    --ui-color-border-contrast: var(--color-stone-400);
    --ui-color-border-critical: var(--color-red-500);

    @media (prefers-color-scheme: dark) {
      --ui-color-primary: var(--color-stone-50);
      --ui-color-text-secondary: var(--color-stone-400);
      --ui-color-text-tertiary: var(--color-stone-600);
      --ui-color-text-placeholder: var(--color-stone-500);
      --ui-color-text-success: var(--color-green-400);
      --ui-color-text-critical: var(--color-red-400);
      --ui-color-text-warning: var(--color-amber-400);

      --ui-color-bg-body: var(--color-stone-950);
      --ui-color-bg-secondary: var(--color-stone-900);
      --ui-color-bg-tertiary: var(--color-stone-800);
      --ui-color-bg-interactive: var(--color-stone-900);
      --ui-color-bg-muted: var(--color-stone-700);
      --ui-color-bg-disabled: var(--color-stone-800);
      --ui-color-bg-critical: var(--color-red-800);
      --ui-color-bg-elevated-on-dark: var(--color-stone-900);
      --ui-color-bg-contrast: var(--color-stone-800);
      --ui-color-bg-backdrop: color-mix(in oklab, var(--color-white) 10%, transparent);
      --ui-color-bg-success-muted: color-mix(in oklab, var(--color-emerald-900) 60%, transparent);
      --ui-color-bg-critical-muted: color-mix(in oklab, var(--color-red-900) 25%, transparent);
      --ui-color-bg-warning-muted: color-mix(in oklab, var(--color-yellow-900) 20%, transparent);

      --ui-color-border-default: var(--color-stone-800);
      --ui-color-border-secondary: color-mix(in oklab, var(--color-stone-800) 70%, transparent);
      --ui-color-border-contrast: var(--color-stone-700);
      --ui-color-border-critical: var(--color-red-500);
    }
  }
}