/* TODO: rename token base to decorative */
@layer base {
  :root {
    /* Text */
    --ui-color-text-red-contrast: var(--tw-red-700);
    --ui-color-text-green-contrast: var(--tw-green-700);
    --ui-color-text-yellow-contrast: var(--tw-yellow-700);
    --ui-color-text-blue-contrast: var(--tw-blue-700);
    --ui-color-text-indigo-contrast: var(--tw-indigo-700);
    --ui-color-text-purple-contrast: var(--tw-purple-700);
    --ui-color-text-stone-contrast: var(--tw-stone-700);
    --ui-color-text-lime-contrast: var(--tw-lime-700);
    --ui-color-text-pink-contrast: var(--tw-pink-700);
    /* bg */
    --ui-color-bg-red-muted: color-mix(in oklab, var(--tw-red-500) 15%, transparent);
    --ui-color-bg-green-muted: color-mix(in oklab, var(--tw-green-500) 15%, transparent);
    --ui-color-bg-yellow-muted: color-mix(in oklab, var(--tw-yellow-500) 15%, transparent);
    --ui-color-bg-blue-muted: color-mix(in oklab, var(--tw-blue-500) 15%, transparent);
    --ui-color-bg-indigo-muted: color-mix(in oklab, var(--tw-indigo-500) 15%, transparent);
    --ui-color-bg-purple-muted: color-mix(in oklab, var(--tw-purple-500) 15%, transparent);
    --ui-color-bg-stone-muted: color-mix(in oklab, var(--tw-stone-500) 15%, transparent);
    --ui-color-bg-lime-muted: color-mix(in oklab, var(--tw-lime-500) 15%, transparent);
    --ui-color-bg-pink-muted: color-mix(in oklab, var(--tw-pink-500) 15%, transparent);
    @media (prefers-color-scheme: dark) {
      /* Text */
      --ui-color-text-red-contrast: var(--tw-red-400);
      --ui-color-text-green-contrast: var(--tw-green-400);
      --ui-color-text-yellow-contrast: var(--tw-yellow-400);
      --ui-color-text-blue-contrast: var(--tw-blue-400);
      --ui-color-text-indigo-contrast: var(--tw-indigo-300);
      --ui-color-text-purple-contrast: var(--tw-purple-300);
      --ui-color-text-stone-contrast: var(--tw-stone-400);
      --ui-color-text-lime-contrast: var(--tw-lime-300);
      --ui-color-text-pink-contrast: var(--tw-pink-300);
      /* bg */
      /* bg static */
      --ui-color-bg-red-muted: color-mix(in oklab, var(--tw-red-500) 20%, transparent);
      --ui-color-bg-green-muted: color-mix(in oklab, var(--tw-green-500) 20%, transparent);
      --ui-color-bg-yellow-muted: color-mix(in oklab, var(--tw-yellow-500) 20%, transparent);
      --ui-color-bg-blue-muted: color-mix(in oklab, var(--tw-blue-500) 20%, transparent);
      --ui-color-bg-indigo-muted: color-mix(in oklab, var(--tw-indigo-500) 20%, transparent);
      --ui-color-bg-purple-muted: color-mix(in oklab, var(--tw-purple-500) 20%, transparent);
      --ui-color-bg-stone-muted: color-mix(in oklab, var(--tw-stone-500) 20%, transparent);
      --ui-color-bg-lime-muted: color-mix(in oklab, var(--tw-lime-500) 20%, transparent);
      --ui-color-bg-pink-muted: color-mix(in oklab, var(--tw-pink-500) 20%, transparent);
    }
  }
}

@theme inline {
  --text-color-red-contrast: var(--ui-color-text-red-contrast);
  --text-color-green-contrast: var(--ui-color-text-green-contrast);
  --text-color-yellow-contrast: var(--ui-color-text-yellow-contrast);
  --text-color-blue-contrast: var(--ui-color-text-blue-contrast);
  --text-color-indigo-contrast: var(--ui-color-text-indigo-contrast);
  --text-color-purple-contrast: var(--ui-color-text-purple-contrast);
  --text-color-gray-contrast: var(--ui-color-text-gray-contrast);
  --text-color-lime-contrast: var(--ui-color-text-lime-contrast);
  --text-color-pink-contrast: var(--ui-color-text-pink-contrast);
  /* bg */
  --background-color-red-muted: var(--ui-color-bg-red-muted);
  --background-color-green-muted: var(--ui-color-bg-green-muted);
  --background-color-yellow-muted: var(--ui-color-bg-yellow-muted);
  --background-color-blue-muted: var(--ui-color-bg-blue-muted);
  --background-color-indigo-muted: var(--ui-color-bg-indigo-muted);
  --background-color-purple-muted: var(--ui-color-bg-purple-muted);
  --background-color-stone-muted: var(--ui-color-bg-stone-muted);
  --background-color-lime-muted: var(--ui-color-bg-lime-muted);
  --background-color-pink-muted: var(--ui-color-bg-pink-muted);
}
