@layer base {
  :root {
    --ui-shadow-ring: color-mix(in oklab, var(--color-black) 11%, transparent);
    --ui-shadow-ring-hover: rgba(0, 0, 0, 0.2);
    --ui-shadow-ring-light: rgba(255, 255, 255, 0.37);
    --ui-shadow-ring-accent: color-mix(in oklab, var(--color-orange-700) 70%, transparent);
    --ui-shadow-ring-critical: var(--color-red-800);
    /* Dark theme */
    @media (prefers-color-scheme: dark) {
      --ui-shadow-ring: rgba(255, 255, 255, 0.1);
      --ui-shadow-ring-hover: rgba(255, 255, 255, 0.2);
      --ui-shadow-ring-light: rgba(255, 255, 255, 0.22);
    }
  }
}

@theme {
  --shadow-interactive:
    0px 1px 0px 0px rgba(255, 255, 255, 0.11) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.04) inset,
    0px 1px 0px 0px rgba(0, 0, 0, 0.02), 0px 2px 3px -1px rgba(0, 0, 0, 0.08), 0px 0px 0px 1px rgba(0, 0, 0, 0.07);
  --shadow-base: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-overlay: 0 12px 24px rgba(0, 0, 0, 0.2);
}

@theme inline {
  --shadow-input: 0px 2px 2px -1px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px var(--ui-shadow-ring) inset;
  --shadow-input-hover: 0px 2px 2px -1px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px var(--ui-shadow-ring-hover) inset;
  --shadow-floating:
    0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 8px 16px 0px rgba(0, 0, 0, 0.08),
    0px 0px 0px 1px var(--ui-shadow-ring) inset;
  --shadow-error:
    0px 0px 0px 1px var(--ui-color-border-critical) inset, 0px 0px 0px 3px var(--ui-color-bg-red-muted),
    0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}
