@import 'tailwindcss';
@plugin "tailwindcss-motion";
@import './styles/typography.css';
@import './styles/shadow.css';
@import './styles/colors.css';
@import './styles/utilities.css';

@layer base {
  body {
    @apply font-regular text-default caret-accent font-sans text-base antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }
}

@theme {
  --radius-none: 0;
  --radius-sm: 0.312rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

/* Learn more about inline theme https://tailwindcss.com/docs/theme#referencing-other-variables */
@theme inline {
  --color-black: var(--color-stone-950);
  --color-accent: var(--ui-color-accent);
  --color-critical: var(--ui-color-text-critical);

  --text-color-default: var(--ui-color-primary);
  --text-color-secondary: var(--ui-color-text-secondary);
  --text-color-tertiary: var(--ui-color-text-tertiary);
  --text-color-placeholder: var(--ui-color-text-placeholder);
  --text-color-success: var(--ui-color-text-success);
  --text-color-critical: var(--ui-color-text-critical);
  --text-color-warning: var(--ui-color-text-warning);
  --text-color-disabled: var(--ui-color-text-disabled);

  --background-color-body: var(--ui-color-bg-body);
  --background-color-elevated-on-dark: var(--ui-color-bg-elevated-on-dark);
  --background-color-secondary: var(--ui-color-bg-secondary);
  --background-color-tertiary: var(--ui-color-bg-tertiary);
  --background-color-muted: var(--ui-color-bg-muted);
  --background-color-contrast: var(--ui-color-bg-contrast);
  --background-color-interactive: var(--ui-color-bg-interactive);
  --background-color-success-muted: var(--ui-color-bg-success-muted);
  --background-color-critical-muted: var(--ui-color-bg-critical-muted);
  --background-color-warning-muted: var(--ui-color-bg-warning-muted);
  --background-color-critical: var(--ui-color-bg-critical);
  --background-color-backdrop: var(--ui-color-bg-backdrop);
  --background-color-disabled: var(--ui-color-bg-disabled);

  --border-color-default: var(--ui-color-border-default);
  --border-color-accent: var(--ui-color-border-accent);
  --border-color-secondary: var(--ui-color-border-secondary);
  --border-color-contrast: var(--ui-color-border-contrast);
  --border-color-critical: var(--ui-color-border-critical);
}