@import 'tailwindcss';
@import './colors.css';
/* @custom-variant dark (&:is(.dark *)); */

/* Base styles */
@layer base {
  :root {
    --ui-white: var(--tw-white);
    /* text */
    --ui-color-accent: var(--tw-orange-600);
    --ui-color-primary: var(--tw-stone-950);
    --ui-color-text-secondary: var(--tw-stone-700);
    --ui-color-text-tertiary: var(--tw-stone-500);
    --ui-color-text-placeholder: var(--tw-stone-400);
    --ui-color-text-disabled: var(--tw-stone-400);
    --ui-color-text-success: var(--tw-green-700);
    --ui-color-text-critical: var(--tw-red-600);
    --ui-color-text-warning: var(--tw-yellow-700);
    --ui-color-text-red-contrast: var(--tw-red-700);
    --ui-color-text-green-contrast: var(--tw-green-700);
    --ui-color-text-yellow-contrast: var(--tw-yellow-700);
    --ui-color-text-blue-contrast: var(--tw-blue-700);
    --ui-color-text-indigo-contrast: var(--tw-indigo-700);
    --ui-color-text-purple-contrast: var(--tw-purple-700);
    --ui-color-text-stone-contrast: var(--tw-stone-700);
    --ui-color-text-lime-contrast: var(--tw-lime-700);
    --ui-color-text-pink-contrast: var(--tw-pink-700);
    /* bg */
    --ui-color-bg-body: var(--tw-white);
    --ui-color-bg-accent: var(--ui-color-accent);
    --ui-color-bg-secondary: var(--tw-stone-50);
    --ui-color-bg-tertiary: var(--tw-stone-100);
    --ui-color-bg-interactive: var(--tw-white);
    --ui-color-bg-success-muted: var(--tw-emerald-100);
    --ui-color-bg-critical-muted: var(--tw-red-100);
    --ui-color-bg-warning-muted: var(--tw-yellow-100);
    --ui-color-bg-elevated-on-dark: var(--tw-white);
    --ui-color-bg-contrast: var(--tw-stone-900);
    --ui-color-bg-critical: var(--tw-red-700);
    --ui-color-bg-red-contrast: var(--tw-red-700);
    --ui-color-bg-red-muted: color-mix(in oklab, var(--tw-red-500) 15%, transparent);
    --ui-color-bg-green-muted: color-mix(in oklab, var(--tw-green-500) 15%, transparent);
    --ui-color-bg-yellow-muted: color-mix(in oklab, var(--tw-yellow-500) 15%, transparent);
    --ui-color-bg-blue-muted: color-mix(in oklab, var(--tw-blue-500) 15%, transparent);
    --ui-color-bg-indigo-muted: color-mix(in oklab, var(--tw-indigo-500) 15%, transparent);
    --ui-color-bg-purple-muted: color-mix(in oklab, var(--tw-purple-500) 15%, transparent);
    --ui-color-bg-stone-muted: color-mix(in oklab, var(--tw-stone-500) 15%, transparent);
    --ui-color-bg-lime-muted: color-mix(in oklab, var(--tw-lime-500) 15%, transparent);
    --ui-color-bg-pink-muted: color-mix(in oklab, var(--tw-pink-500) 15%, transparent);
    /* border */
    --ui-color-border-default: var(--tw-stone-200);
    --ui-color-border-accent: var(--ui-color-accent);
    --ui-color-border-secondary: var(--tw-stone-100);
    --ui-color-border-contrast: var(--tw-stone-400);
    --ui-color-border-critical: var(--tw-red-500);
    /* Shadow colors */
    --ui-shadow-ring: rgba(0, 0, 0, 0.11);
    --ui-shadow-ring-light: rgba(255, 255, 255, 0.37);
    --ui-shadow-ring-accent: color-mix(in oklab, var(--tw-orange-700) 70%, transparent);
    --ui-shadow-ring-critical: var(--tw-red-800);

    @media (prefers-color-scheme: dark) {
      --ui-color-primary: var(--tw-stone-50);
      --ui-color-text-secondary: var(--tw-stone-400);
      --ui-color-text-tertiary: var(--tw-stone-600);
      --ui-color-text-placeholder: var(--tw-stone-700);
      --ui-color-text-success: var(--tw-green-400);
      --ui-color-text-critical: var(--tw-red-400);
      --ui-color-text-warning: var(--tw-yellow-400); /* color static */
      --ui-color-text-red-contrast: var(--tw-red-400);
      --ui-color-text-green-contrast: var(--tw-green-400);
      --ui-color-text-yellow-contrast: var(--tw-yellow-400);
      --ui-color-text-blue-contrast: var(--tw-blue-400);
      --ui-color-text-indigo-contrast: var(--tw-indigo-400);
      --ui-color-text-purple-contrast: var(--tw-purple-400);
      --ui-color-text-stone-contrast: var(--tw-stone-400); /* bg */
      --ui-color-bg-body: var(--tw-stone-950);
      --ui-color-bg-secondary: var(--tw-stone-900);
      --ui-color-bg-tertiary: var(--tw-stone-800);
      --ui-color-bg-interactive: var(--tw-stone-900);
      --ui-color-bg-success-muted: color-mix(in oklab, var(--tw-emerald-900) 60%, transparent);
      --ui-color-bg-critical-muted: color-mix(in oklab, var(--tw-red-900) 40%, transparent);
      --ui-color-bg-warning-muted: color-mix(in oklab, var(--tw-yellow-900) 20%, transparent);
      --ui-color-bg-critical: var(--tw-red-800);
      --ui-color-bg-elevated-on-dark: var(--tw-stone-900);
      --ui-color-bg-contrast: var(--tw-stone-800); /* bg static */
      --ui-color-bg-red-muted: color-mix(in oklab, var(--tw-red-800) 20%, transparent);
      --ui-color-bg-green-muted: color-mix(in oklab, var(--tw-green-800) 20%, transparent);
      --ui-color-bg-yellow-muted: color-mix(in oklab, var(--tw-yellow-800) 20%, transparent);
      --ui-color-bg-blue-muted: color-mix(in oklab, var(--tw-blue-800) 20%, transparent);
      --ui-color-bg-indigo-muted: color-mix(in oklab, var(--tw-indigo-800) 20%, transparent);
      --ui-color-bg-purple-muted: color-mix(in oklab, var(--tw-purple-800) 20%, transparent);
      --ui-color-bg-stone-muted: color-mix(in oklab, var(--tw-stone-800) 20%, transparent);
      --ui-color-bg-lime-muted: color-mix(in oklab, var(--tw-lime-800) 20%, transparent);
      --ui-color-bg-pink-muted: color-mix(in oklab, var(--tw-pink-800) 20%, transparent); /* border */
      --ui-color-border-default: var(--tw-stone-800);
      --ui-color-border-secondary: var(--tw-stone-900);
      --ui-color-border-contrast: var(--tw-stone-700);
      --ui-color-border-critical: var(--tw-red-500);
      /* Shadow colors */
      --ui-shadow-ring: rgba(255, 255, 255, 0.1);
      --ui-shadow-ring-light: rgba(255, 255, 255, 0.22);
    }
  }
  body {
    @apply font-regular text-default font-sans text-base antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-tight;
  }
}

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      @slot;
    }
  }
}

@theme {
  /* === Core Tokens === */

  /* Remove Tailwind defaults */
  --color-*: initial;
  --font-*: initial;
  --font-weight-*: initial;
  --text-*: initial;
  --shadow-*: initial;
  --gradient-*: initial;
  --leading-*: initial;
  --radius-*: initial;

  /* Font */
  --font-sans: 'InterVariable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  --font-sans--font-feature-settings: 'cv08', 'cv10', 'cv02';
  --font-sans--fontvariant-numeric: lining-nums tabular-nums;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* === Border Radius Tokens === */
  --radius-none: 0;
  --radius-sm: 0.312rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-circular: 9999px;

  /* === Motion Tokens === */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);

  /* === Shadow Tokens === */
  --shadow-none: none;
  --shadow-interactive:
    0px 1px 0px 0px rgba(255, 255, 255, 0.11) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.04) inset,
    0px 1px 0px 0px rgba(0, 0, 0, 0.02), 0px 2px 3px -1px rgba(0, 0, 0, 0.08), 0px 0px 0px 1px rgba(0, 0, 0, 0.07);

  --shadow-base: 0 1px 3px rgba(0, 0, 0, 0.1);

  --shadow-overlay: 0 12px 24px rgba(0, 0, 0, 0.2);

  /* === Typography Tokens === */
  --font-weight-regular: 440;
  --font-weight-medium: 530;
  --font-weight-semibold: 660;

  --line-height-tight: 16px;
  --line-height-base: 18px;
  --line-height-loose: 24px;
}

@theme inline {
  --shadow-input: 0px 2px 2px -1px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px var(--ui-shadow-ring) inset;
  --shadow-floating:
    0px 0px 0px 1px var(--ui-shadow-ring) inset, 0px 4px 8px 0px rgba(0, 0, 0, 0.08),
    0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  --text-xs: 0.68rem; /* 11px */
  --text-sm: 0.75rem; /* 12px */
  --text-sm--line-height: var(--line-height-base);
  --text-sm-bold: var(--text-sm);
  --text-sm-bold--font-weight: var(--font-weight-medium);
  --text-sm-bold--line-height: var(--line-height-base);
  --text-base: 0.875rem; /* 14px */
  --text-base--line-height: var(--line-height-base);
  --text-action: var(--text-base);
  --text-action--line-height: var(--line-height-base);
  --text-action--font-weight: var(--font-weight-medium);

  --text-base-bold: var(--text-base);
  --text-base-bold--font-weight: var(--font-weight-semibold);
  --text-base-bold--line-height: var(--line-height-base);
  --text-lg: 1rem; /* 16px */
  --text-lg--line-height: 20px;
  --text-lg--font-weight: var(--font-weight-medium);
  --text-xl: 1.25rem; /* 18px */
  --text-xl--line-height: 24px;
  --text-xl--font-weight: var(--font-weight-medium);
  --text-2xl: 1.5rem; /* 24px */
  --text-2xl--line-height: 30px;
  --text-2xl--font-weight: var(--font-weight-medium);

  --color-white: var(--ui-white);
  --color-accent: var(--ui-color-accent);
  /* Text */
  --text-color-default: var(--ui-color-primary);
  --text-color-secondary: var(--ui-color-text-secondary);
  --text-color-tertiary: var(--ui-color-text-tertiary);
  --text-color-placeholder: var(--ui-color-text-placeholder);
  --text-color-success: var(--ui-color-text-success);
  --text-color-critical: var(--ui-color-text-critical);
  --text-color-warning: var(--ui-color-text-warning);
  --text-color-red-contrast: var(--ui-color-text-red-contrast);
  --text-color-green-contrast: var(--ui-color-text-green-contrast);
  --text-color-yellow-contrast: var(--ui-color-text-yellow-contrast);
  --text-color-blue-contrast: var(--ui-color-text-blue-contrast);
  --text-color-indigo-contrast: var(--ui-color-text-indigo-contrast);
  --text-color-purple-contrast: var(--ui-color-text-purple-contrast);
  --text-color-gray-contrast: var(--ui-color-text-gray-contrast);
  --text-color-lime-contrast: var(--ui-color-text-lime-contrast);
  --text-color-pink-contrast: var(--ui-color-text-pink-contrast);
  /* bg */
  --background-color-body: var(--ui-color-bg-body);
  --background-color-elevated-on-dark: var(--ui-color-bg-elevated-on-dark);
  --background-color-secondary: var(--ui-color-bg-secondary);
  --background-color-tertiary: var(--ui-color-bg-tertiary);
  --background-color-contrast: var(--ui-color-bg-contrast);
  --background-color-interactive: var(--ui-color-bg-interactive);
  --background-color-success-muted: var(--ui-color-bg-success-muted);
  --background-color-critical-muted: var(--ui-color-bg-critical-muted);
  --background-color-warning-muted: var(--ui-color-bg-warning-muted);
  --background-color-critical: var(--ui-color-bg-critical);
  --background-color-red-muted: var(--ui-color-bg-red-muted);
  --background-color-green-muted: var(--ui-color-bg-green-muted);
  --background-color-yellow-muted: var(--ui-color-bg-yellow-muted);
  --background-color-blue-muted: var(--ui-color-bg-blue-muted);
  --background-color-indigo-muted: var(--ui-color-bg-indigo-muted);
  --background-color-purple-muted: var(--ui-color-bg-purple-muted);
  --background-color-stone-muted: var(--ui-color-bg-stone-muted);
  --background-color-lime-muted: var(--ui-color-bg-lime-muted);
  --background-color-pink-muted: var(--ui-color-bg-pink-muted);
  /* border */
  --border-color-default: var(--ui-color-border-default);
  --border-color-accent: var(--ui-color-border-accent);
  --border-color-secondary: var(--ui-color-border-secondary);
  --border-color-contrast: var(--ui-color-border-contrast);
  --border-color-critical: var(--ui-color-border-critical);
}

@utility focus-ring {
  @apply focus-visible:ring-accent/70 ring-offset-[var(--ui-color-bg-body)] outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none;
}
