@import 'tailwindcss';
@plugin "tailwindcss-motion";
@import './styles/typography.css';
@import './styles/shadow.css';

@layer base {
  :root {
    color-scheme: light dark;

    --ui-color-accent: var(--color-orange-600);
    --ui-color-primary: var(--color-stone-950);
    --ui-color-text-secondary: var(--color-stone-700);
    --ui-color-text-tertiary: var(--color-stone-500);
    --ui-color-text-placeholder: var(--color-stone-400);
    --ui-color-text-disabled: var(--color-stone-400);
    --ui-color-text-success: var(--color-green-700);
    --ui-color-text-critical: var(--color-red-600);
    --ui-color-text-warning: var(--color-yellow-700);

    --ui-color-bg-body: var(--color-white);
    --ui-color-bg-accent: var(--ui-color-accent);
    --ui-color-bg-secondary: var(--color-stone-50);
    --ui-color-bg-tertiary: var(--color-stone-100);
    --ui-color-bg-interactive: var(--color-white);
    --ui-color-bg-success-muted: var(--color-emerald-100);
    --ui-color-bg-critical-muted: var(--color-red-100);
    --ui-color-bg-warning-muted: var(--color-yellow-100);
    --ui-color-bg-elevated-on-dark: var(--color-white);
    --ui-color-bg-contrast: var(--color-stone-900);
    --ui-color-bg-critical: var(--color-red-700);
    --ui-color-bg-disabled: var(--color-stone-200);
    --ui-color-bg-muted: var(--color-stone-200);
    --ui-color-bg-backdrop: color-mix(in oklab, var(--color-black) 15%, transparent);

    --ui-color-border-default: var(--color-stone-200);
    --ui-color-border-accent: var(--ui-color-accent);
    --ui-color-border-secondary: var(--color-stone-100);
    --ui-color-border-contrast: var(--color-stone-400);
    --ui-color-border-critical: var(--color-red-500);

    @media (prefers-color-scheme: dark) {
      --ui-color-primary: var(--color-stone-50);
      --ui-color-text-secondary: var(--color-stone-400);
      --ui-color-text-tertiary: var(--color-stone-600);
      --ui-color-text-placeholder: var(--color-stone-500);
      --ui-color-text-success: var(--color-green-400);
      --ui-color-text-critical: var(--color-red-400);
      --ui-color-text-warning: var(--color-yellow-400);

      --ui-color-bg-body: var(--color-stone-950);
      --ui-color-bg-secondary: var(--color-stone-900);
      --ui-color-bg-tertiary: var(--color-stone-800);
      --ui-color-bg-interactive: var(--color-stone-900);
      --ui-color-bg-muted: var(--color-stone-700);
      --ui-color-bg-disabled: var(--color-stone-800);
      --ui-color-bg-critical: var(--color-red-800);
      --ui-color-bg-elevated-on-dark: var(--color-stone-900);
      --ui-color-bg-contrast: var(--color-stone-800);
      --ui-color-bg-backdrop: color-mix(in oklab, var(--color-white) 10%, transparent);
      --ui-color-bg-success-muted: color-mix(in oklab, var(--color-emerald-900) 60%, transparent);
      --ui-color-bg-critical-muted: color-mix(in oklab, var(--color-red-900) 25%, transparent);
      --ui-color-bg-warning-muted: color-mix(in oklab, var(--color-yellow-900) 20%, transparent);

      --ui-color-border-default: var(--color-stone-800);
      --ui-color-border-secondary: color-mix(in oklab, var(--color-stone-800) 70%, transparent);
      --ui-color-border-contrast: var(--color-stone-700);
      --ui-color-border-critical: var(--color-red-500);
    }
  }
  body {
    @apply font-regular text-default caret-accent font-sans text-base antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }
}

@theme {
  --radius-none: 0;
  --radius-sm: 0.312rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
}

@theme inline {
  --color-black: var(--color-stone-950);
  --color-accent: var(--ui-color-accent);
  --color-critical: var(--ui-color-text-critical);

  --text-color-default: var(--ui-color-primary);
  --text-color-secondary: var(--ui-color-text-secondary);
  --text-color-tertiary: var(--ui-color-text-tertiary);
  --text-color-placeholder: var(--ui-color-text-placeholder);
  --text-color-success: var(--ui-color-text-success);
  --text-color-critical: var(--ui-color-text-critical);
  --text-color-warning: var(--ui-color-text-warning);
  --text-color-disabled: var(--ui-color-text-disabled);

  --background-color-body: var(--ui-color-bg-body);
  --background-color-elevated-on-dark: var(--ui-color-bg-elevated-on-dark);
  --background-color-secondary: var(--ui-color-bg-secondary);
  --background-color-tertiary: var(--ui-color-bg-tertiary);
  --background-color-muted: var(--ui-color-bg-muted);
  --background-color-contrast: var(--ui-color-bg-contrast);
  --background-color-interactive: var(--ui-color-bg-interactive);
  --background-color-success-muted: var(--ui-color-bg-success-muted);
  --background-color-critical-muted: var(--ui-color-bg-critical-muted);
  --background-color-warning-muted: var(--ui-color-bg-warning-muted);
  --background-color-critical: var(--ui-color-bg-critical);
  --background-color-backdrop: var(--ui-color-bg-backdrop);
  --background-color-disabled: var(--ui-color-bg-disabled);

  --border-color-default: var(--ui-color-border-default);
  --border-color-accent: var(--ui-color-border-accent);
  --border-color-secondary: var(--ui-color-border-secondary);
  --border-color-contrast: var(--ui-color-border-contrast);
  --border-color-critical: var(--ui-color-border-critical);
}

/* Focus state used for buttons and actions */
@utility focus-ring {
  @apply focus-visible:ring-accent/60 dark:focus-visible:ring-accent ring-offset-[var(--ui-color-bg-body)] outline-none focus-visible:ring-2 focus-visible:ring-offset-2 dark:focus-visible:ring-1;
}

/* Focus state for form inputs */
@utility focus-ring-control {
  @apply outline-none focus-visible:shadow-[inset_0_0_0_1px_rgba(0,0,0,0.18),0_0_0_2px_rgba(0,0,0,0.08)];

  @apply focus-visible:hover:shadow-[inset_0_0_0_1px_rgba(0,0,0,0.18),0_0_0_2px_rgba(0,0,0,0.08)];

  @apply dark:focus-visible:shadow-[inset_0_0_0_1px_rgba(255,255,255,0.2),0_0_0_3px_rgba(255,255,255,0.15)] dark:hover:focus-visible:shadow-[inset_0_0_0_1px_rgba(255,255,255,0.2),0_0_0_3px_rgba(255,255,255,0.15)];
}

/* Validation */
@utility control-invalid {
  @apply ring-critical shadow-[0px_0px_0px_3px] ring shadow-red-400/20 ring-inset;
}

/* form default style */
@utility control-base {
  @apply placeholder:text-placeholder bg-elevated-on-dark shadow-input focus-ring-control min-w-0 rounded-md px-2 text-base transition-[color,background-color,box-shadow] outline-none;

  @apply disabled:bg-disabled disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-70 disabled:shadow-none;

  @apply aria-invalid:ring-critical aria-invalid:focus-within:focus-ring-control;

  @apply hover:shadow-input-hover;
}